.Rproj.user
.Rhistory
.RData
.Ruserdata
mentorship/*
desktop.ini

#śmieci kompilatora
*.aux
*.bcf
*.fdb_latexmk
*.lof
*.log
*.lot
*.out
*.run.xml
*.toc
WPWW_magistrat.Rmd
WPWW_magistrat.knit.md
WPWW_magistrat.tex

#calculations
includes/calculations/*.rds

#output
_book
_bookdown_files
*.pdf